:root {
	/*theme-color*/
	--primary-color: #F4F8FD;
	--secondary-color: #FFFFFF;
	--tertiary-color: #755ff7;
	--error-color: #c51017;
	--warning-color: #ffe139;
	--success-color: #4dff2c; 
	--hyperlink-text-color: #755ff7;

	/*webpage*/
	--primary-bg-color: #F4F8FD;
	--secondary-bg-color: #ffffff;
	--primary-text-color: #000000;
	--secondary-text-color: #64748B;
	--tertiary-text-color: '';
	--fourth-text-color: '';
	--onhover-text-color: #000;
	--xl-text-size: 48px;
	--lg-text-size: 28px;
	--md-text-size: 20px;
	--sm-text-size: 15px;
	--ssm-text-size: 14px;
	--xs-text-size: 13px;

	/*font-weight*/
	--default-font-weight-thin: 300;
	--default-font-weight-thick: 500;
	--default-font-weight-bold: 700;
	--default-font-weight-max: 900;

	/*button*/
	--btn-primary-bg-color: #000000;
	--btn-secondary-bg-color: #FFFFFF;
	--btn-tertiary-bg-color: '';
	--btn-disabled-bg-color: #d3d3d3;
	--btn-onHover-primary-bg-color: #FFFFFF;
	--btn-onHover-secondary-bg-color: #f1f5f9;
	--btn-onHover-tertiary-bg-color: '';
	--btn-primary-text-color: #ffffff;
	--btn-secondary-text-color: #000000;
	--btn-tertiary-text-color: #000;
	--btn-disabled-text-color: "";
	--btn-onHover-primary-text-color: #FFFFFF;
	--btn-onHover-secondary-text-color: #000000;
	--btn-onHover-tertiary-text-color: #000;
	--btn-width-long: 170px;
	--btn-width-short: 130px;
	--btn-border-radius: 10px;
	--button-border: "";

	/*input*/
	--input-label-size: var(--sm-text-size);
	--input-text-size: var(--sm-text-size);
	--input-border-radius: 7px;
	--input-border: 1px solid #E2E8F0;
	--input-bg-color: transparent;
	--input-width-long: 100%;
	--input-width-short: "";
	--input-placeholder-size: var(--sm-text-size);
	--input-placeholder-color: #64748B;
	--input-onfocus-border-color: "";
	--input-disabled-bg-color: #e4e6e9;

	/*header*/
	--header-bg-color: #ffffff;
	--header-text-size: var(--sm-text-size);
	--header-text-color: var(--primary-text-color);
	--header-border: 1px solid #E2E8F0;
	--header-box-shadow: "";
	--header-menu-onHover-color: #000000;
	--header-menu-onActive-color: #000000;
	--header-menu-onActive-border: 3px solid #755ff7;
	--header-menu-dropdown-text-color: #8b93a4;

	/*footer*/
	--footer-bg-color: '';
	--footer-border: '';
	--footer-text-size: var(--xs-text-size);
	--footer-text-color: '';
	--footer-onHover-color: "";
	--footer-label-color: '';

	/* General Root */
	--custom-border-radius1: 10px;
	--custom-border-radius2: 7px;
	--custom-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
}

html,
#root {
	height: 100%;
}

body {
	display: block;
	height: 100%;
}

.main-display {
	height: 100%;
}

.row.full-page-row {
	margin-left: unset !important;
	margin-right: unset !important;
}

/* Start of General Use Button Css */

.btn {
	width: var(--btn-width-short);
	padding: 0.5rem !important;
	font-size: var(--sm-text-size) !important;
	font-weight: var(--default-font-weight-thick) !important; 
	border-radius: var(--btn-border-radius) !important;
	border: var(--button-border) !important;
}

.btn.long-btn {
	width: var(--btn-width-long);
}

.btn.btn-primary {
	background: var(--btn-primary-bg-color) !important;
	color: var(--btn-primary-text-color) !important;
	border: unset !important;
}

.btn.btn-primary:hover {
	background: var(--btn-onHover-primary-bg-color) !important;
	color: var(--btn-onHover-primary-text-color) !important;
}

.btn.btn-secondary {
	background: var(--btn-secondary-bg-color) !important;
	color: var(--btn-secondary-text-color) !important;
	border: 1px solid #E2E8F0 !important;
}

.btn.btn-secondary:hover {
	background: var(--btn-onHover-secondary-bg-color) !important;
	color: var(--btn-onHover-secondary-text-color) !important;
}

.btn.btn-tertiary {
	background: var(--btn-tertiary-bg-color) !important;
	color: var(--btn-tertiary-text-color) !important;
	padding: 0.1rem 0.3rem !important;
	border: unset !important;
	text-decoration: underline;
	width: max-content;
}

.btn.btn-tertiary:hover {
	background: var(--btn-onHover-tertiary-bg-color) !important;
	color: var(--btn-onHover-tertiary-text-color) !important;
	text-decoration: none;
}

.btn.btn-hyperlink {
	color: var(--hyperlink-text-color) !important;
	background: var(--btn-tertiary-bg-color) !important;
	padding: 0.1rem 0rem !important;
	border: unset !important;
	text-decoration: underline;
	width: max-content;
}

/* End of General Use Button Css */

/* Start of General Use Input Css */
.form-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label {
	color: var(--primary-text-color) !important;
	font-size: var(--input-label-size) !important;
	font-weight: var(--default-font-weight-thick);
}

.form-control {
	background: var(--input-bg-color) !important;
	border: var(--input-border) !important;
	border-radius: var(--input-border-radius) !important;
	width: var(--input-width-long) !important;
	font-size: var(--input-text-size) !important;
	font-weight: var(--default-font-weight-thin) !important;
	color: var(--primary-text-color) !important;
	padding: 0.5rem !important;
}

.form-control:disabled {
	background: var(--input-disabled-bg-color) !important;
}

.form-select {
	border: var(--input-border) !important;
	border-radius: var(--input-border-radius) !important;
	width: var(--input-width-long) !important;
	font-size: var(--input-text-size) !important;
	font-weight: var(--default-font-weight-thin) !important;
	color: var(--primary-text-color) !important;
	padding: 0.5rem !important;
	padding-right: 2rem !important;
}

.form-password-container {
	position: relative;
}

.form-password-container .form-control {
	padding-right: 2rem !important;
}

.form-password-anchor {
	position: absolute;
	transform: translate(50%, -50%);
	top: 52px;
    right: 20px;
	color: var(--tertiary-text-color);
	text-decoration: none;
}

.form-password-anchor i {
	padding: 0.8rem;
}

.redirect-anchor {
	color: var(--hyperlink-text-color) !important;
	text-decoration: underline !important;
	font-size: var(--sm-text-size);
}

.form-group > .input-group > .form-control {
	width: unset !important;
}

.error-msg {
	color: var(--error-color);
	font-size: var(--xs-text-size);
	font-weight: var(--default-font-weight-thin);
}

.form-date-range-container {
	display: flex;
	align-items: center;
	position: relative;
}

.form-date-range-divider {
	font-size: 20px;
	font-weight: var(--default-font-weight-thin);
	color: var(--primary-text-color);
	padding: 0rem 0.5rem;
}

.form-date-range-container .rdrDefinedRangesWrapper {
	display: none !important;
}

.date-range-picker-container {
	position: absolute;
	z-index: 1000;
	background: var(--primary-color);
	box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
	border-radius: var(--input-border-radius) !important;
	padding: 0.3rem;
	transform: translate(0%, 50%);
	top: -149px;
	width: max-content;
	display: flex;
	flex-direction: column;
}

.form-date-range-inner-container {
	position: relative;
	display: inline-block;
}

.form-date-range-icon {
	position: absolute;
	width: 17px;
	height: auto;
	transform: translate(50%, -50%);
	top: 21px;
	right: 17px;
}

.form-date-range-inner-container > .form-control {
	padding-right: 2rem !important;
}

.form-check {
	padding-block: 0.5rem !important;
	margin: 0 !important;
	color: var(--primary-text-color);
}

.form-check > input:checked[type="radio"] {
	background-color: var(--btn-primary-bg-color);
	border-color: var(--btn-primary-bg-color);
}

.form-check > input:focus {
	box-shadow: 0 0 0 0.25rem var(--input-box-shahow);
}
/* End of General Use Input Css */

/* Start General use content page Css */
.page-content-container {
	padding: 2rem;
	padding-left: unset !important;
	padding-right: unset !important;
	background-color: var(--primary-bg-color);
	height: 100vh;
	display: block;
}

.page-content-title {
	font-size: var(--md-text-size);
	font-weight: var(--default-font-weight-bold);
	color: var(--primary-text-color);
}

.cursor-pointer {
	cursor: pointer;
}

.font-size-xl {
	font-size: var(--xl-text-size);
}

.font-size-lg {
	font-size: var(--lg-text-size);
}

.font-size-md {
	font-size: var(--md-text-size);
}

.font-size-sm {
	font-size: var(--sm-text-size);
}

.font-size-ssm {
	font-size: var(--ssm-text-size);
}

.font-size-xs {
	font-size: var(--xs-text-size);
}

.font-weight-thin {
	font-weight: var(--default-font-weight-thin);
}

.font-weight-thick {
	font-weight: var(--default-font-weight-thick);
}

.font-weight-bold {
	font-weight: var(--default-font-weight-bold);
}

.font-weight-max {
	font-weight: var(--default-font-weight-max);
}

.primary-text-color {
	color: var(--primary-text-color);
}

.secondary-text-color {
	color: var(--secondary-text-color);
}


.logo-icon {
	font-size: 5rem;
	color: #000000;
}
/* End of General use content page Css */